.identicon {
    border-radius: 50%;
}

.selectedIdenticon {
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin: 7px 0;
}

.accountHexString {
    margin-left: 7px;
    width: 267px;
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
}

.accountBalance {
    margin-left: 10px;
    overflow: hidden;
    display: inline-block;
    width:77px;
    text-align: center;
    text-overflow: ellipsis;
}

.accountList {
    float: left;
    margin-left: 10px;
}

.account {
    display: flex;
    align-items: center;
}