#container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100%;
  width: 1vw;
  height: 100%;
  background-color: #eeffd3;
  color: #000000;
}

.canvas-area {
  margin: 7px 0 0 7px;
  border: 1px solid #0d3349;
  background-color: #ffffff;
}
